h2{ font-size:12px; margin:0; padding:0; }
.six-music-box{ background:red; width:200px; height:150px; position:relative; float:left; margin:0 20px 0 0; }
.info{ background:#000; color:#fff; height:27px; position:absolute; bottom:0; left:0; width:100%; }